PORT=3000
DB_HOST=mongodb+srv://<user>:<password>@<cluster>/cosmogram?retryWrites=true&w=majority

ACCESS_SECRET_KEY=change_me_access_secret
REFRESH_SECRET_KEY=change_me_refresh_secret
ACCESS_TOKEN_TTL=1h
REFRESH_TOKEN_TTL=7d
